<mat-sidenav-container class="sidenav-container">
	<mat-sidenav
	  #drawer
	  class="sidenav"
	  fixedInViewport="true"
	  [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
	  [mode]="(isHandset$ | async) ? 'over' : 'side'"
	  [opened]="(isHandset$ | async)"
	>
	  <mat-toolbar>Menu</mat-toolbar>
	  <mat-nav-list>
		<a mat-list-item [routerLink]="['/Dashboard']">Dashboard</a>
		<a mat-list-item [routerLink]="['/comp-b']">Routed Component B</a>
	  </mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content>
	  <mat-toolbar color="primary">
		<!-- Logout button -->
		<!-- Toggle button for sidenav -->
		<button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" >
			<mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
		</button>
		<span>TimeSheet</span>
		<button style="margin-left: auto;" mat-icon-button (click)="logout()">
		  <mat-icon aria-label="Logout">exit_to_app</mat-icon>
		</button>
	</mat-toolbar>
	  <router-outlet></router-outlet>
	</mat-sidenav-content>
  
	<!-- this is the sidenav we are concerned with -->
	<mat-sidenav #panel class="panel" position="end">
	  <!-- this is where i want to load different components dynamically -->
	  <ng-container #content></ng-container>
	</mat-sidenav>
  </mat-sidenav-container>
  