.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .clock-buttons {
    margin-bottom: 20px;
  }
  
  .work-duration {
    font-weight: bold;
    margin-left: 20px;
  }
  .content{
    display: flex;
    align-items: center;
    gap:2rem;
  }
  .card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 2px 29px 26px 27px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .table th {
    background-color: #f2f2f2;
  }
  .summary-card {
    flex: 1 1 48%;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    background-color: #589ad0; /* Update with your desired color */
    color: #fff; /* Text color for better contrast */
  
    /* Adding a subtle shadow */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
    /* Transition for hover effect */
    transition: transform 0.3s ease-in-out;
  }
  
  .summary-card:hover {
    transform: scale(1.02); /* Slightly scale up on hover */
  }
  
  .summary-card h3 {
    margin-bottom: 10px;
    font-size: 24px;
  }